body {
  margin: 0;
  padding: 10px 10px;
  font-family: sans-serif;
  background-color: olive;
}

.text-wrap {
  word-wrap: break-word;
}

.bot-army {
  overflow-x: scroll;
  min-height: 300px;
  max-width: 100%;
}

.ui.grid > .row.bot-army-row {
  flex-wrap: nowrap;
  min-height: 100%;
}

.ui.grid {
  padding: 20px 20px;
  
}

h1{
  text-align: center;
}